<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="eight wide column">
      <table class="ui celled table segment">
        <thead>
        <tr>
          <th>Amount</th>
          <th>Method donated</th>
          <th>Creator</th>
        </tr>
        </thead>
        <tbody>
        {{#each todos}}
          <tr>
            <td> {{amount}} </td>
            <td> {{method}} </td>
            <td> {{creator.firstName}} {{creator.lastName}} </td>
            <td> {{title}} </td>
            <td> {{budget}} </td>
            <td> {{assigned.firstName}} {{assigned.lastName}} </td>
            <td> {{status}} </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>