{{#if loggedin}}
  {{> mainmenu _id="event" }}
{{else}}
  {{> welcomemenu }}
{{/if}}
<h1> {{event.title}}</h1>
<section>
  <div class="ui grid" style="height: 100vh;">
    <aside class="three wide column" style="background: lightgrey">
      {{> guestmenu _id="event" }}
    </aside>
    <article class="twelve wide column">
      <div class="ui segment">
        <div style="white-space: pre; font-size: large">{{event.welcomeMessage}}</div>
        <div class="ui  divider"></div>
        <b>Date: </b> {{formatDate event.date}}<br/>
        <br/><b>Hosted By:</b>{{#each hosts}} {{firstName}} {{lastName}}, {{/each}}<br/>
        <br/><b>Information: </b><br/>
        <div style="white-space: pre;">{{event.info}}</div>
      </div>
      <div class="ui segment">
        {{#check guest.rsvpStatus "yes"}}
          <h3>You have accepted this invitation.</h3>
          <div class="ui styled fluid accordion">
            <div class="title">
              <i class="dropdown icon"></i>
              Click here to update your response.
            </div>
            <div class="content">
              {{>rsvpselection}}
            </div>
          </div>
        {{/check}}
        {{#check guest.rsvpStatus "no"}}
          <h3>You have declined this invitation</h3>
          <div class="ui styled fluid accordion">
            <div class="title">
              <i class="dropdown icon"></i>
              Click here to update your response.
            </div>
            <div class="content">
              {{>rsvpselection}}
            </div>
          </div>
        {{/check}}
        {{#unless guest.rsvpStatus}}
          <h3>Please RSVP</h3>
          {{>rsvpselection}}
        {{/unless}}
      </div>
      {{#if showQuestions}}
        <div class="ui segment">
          {{>answerrsvpquestions}}
        </div>
      {{/if}}
      <div class="ui segment">
        <h3>Plus One</h3>
        {{#each guest.plusOne}}
          <a class="button" href="/viewquestions/{{../guest._id}}/plusOne/{{_id}}"><button class="ui pink button">Answer Questions for {{firstName}} {{lastName}}</button></a><br/>
          <br/>
        {{/each}}
      </div>
    </article>
  </div>
</section>

<script language='javascript'>
  $(document).ready(function(){
    $('.ui.accordion').accordion();
  });
</script>